/* .navbar {
  width: 100%;
  position: fixed !important;
  top: 0 !important;
  font-size: 16px;
  height: auto;
  z-index: 100;
  padding: 0.5rem 0rem;
} */
/* .navbar-brand {
  font-weight: 500;
  font-size: 1.25rem;
  padding: 0.325rem 0rem;
} */
.navbar {
  z-index: 100;
}
.navbar-toggler {
  position: absolute;
  left: 140px;
}
